<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is a Home page 1+2. Type /rolldice and /hello separately to route and check what happens</h1>
    <h3> <%= 1+2 %></h3>
    <h3> <%= "Shane Sunny Kottuppallil".toUpperCase(); %></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum suscipit excepturi? Reiciendis natus,
        blanditiis quis ratione asperiores nobis laudantium rerum praesentium quaerat? Nam explicabo ab sequi eveniet
        maxime voluptatum tempora ea autem. Atque veritatis dignissimos corporis. Molestias iure, incidunt earum
        corporis culpa at ex. Iste non pariatur asperiores vitae nostrum eos tempora totam.</p>
    <button>Click me!</button>
</body>

</html>