h1{
    text-align: center;
}
#container1{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    /* row */
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
#container2{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    /* row */
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
}
#container3{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    /* row */
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
#container1 div{
    width: 500px;
    height: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
#container2 div{
    width: 500px;
    height: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
#container3 div{
    width: 500px;
    height: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
.vi{
    background-color: violet;
}
.in{
    background-color: indigo;
}
.bl{
    background-color: blue;
}
.gr{
    background-color: green;
}
.ye{
    background-color: yellow;
}
.or{
    background-color: orange;
}
.re{
    background-color: red;
}