<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Posts with this id</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Error !!! Post with this Id Doesnt Exist.</h1>
</body>
</html>