<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="Enter Username :" name="username"><br><br>
        <textarea name="content" placeholder="Post Contents Here"></textarea><br>
        <button type="submit">Submit Post</button><br>
    </form>
</body>
</html>