#o1{
    font-family: "Titillium Web", serif;
}
#t2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#t3{
    font-family: 'Times New Roman', Times, serif;
}